@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Finlandica', sans-serif;
}
body{
    background-color: antiquewhite;
}
.brand{
    font-weight: bold;
    margin-left: 30px;
    
}
.navbar{
    border-radius: 0;
    background-color: #ff8989;

}
.navbar-brand{
    color: black;
    font-size: 2em;
    font-style: normal;
}
.navbar-header{
    color: black;
}
h1{
    font-size: 3em;
    padding: 34px;
    text-decoration: overline underline;
}
h3{
    margin-top: 0;
}
.boxstyling{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
    height: 1000px;
    width: 300px;
    background-color: burlywood;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}
button{
    color:black;
    border: 2px solid black;
    border-radius: 0;
}
.nav-link{
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    color: black;
    border: 1px solid;
}
.nav-link:hover{
    background-color: aliceblue;
}
.nav-content{
    background-color: #ff9d00;
}

@media (min-width:1346px){
    .boxstyling{
        width: 30%;
    }
}
@media (min-width:991px)and (max-width:1345px) {
    .boxstyling{
        width:300px auto;
    }
}

@media (min-width:768px) and (max-width:991px) {
    #_1,#_2{
        width:300px;
    }
    #_1{
        margin-right: auto;
    }
    #_3{
        width: 92%;
    }
}
@media (max-width:768px){
    .boxstyling{
        width: 100%;
    }
}